@media all and (max-width: 1150px) {
  .testimonial {
    margin: 1.5rem;
  }

  .testimonial:first-child,
  .testimonial:last-child,
  .testimonial:not(:last-child) {
    border-radius: 10px;
  }
  .testimonial:not(:last-child) {
    border-right: 1px solid #e8e8ea;
  }
}

@media all and (max-width: 920px) {
  .column {
    margin-bottom: 3rem;
  }

  .customer-logo {
    margin-bottom: 1.56rem;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .images-wrap-1,
  .images-wrap-2 {
    margin: 0 auto;
  }

  .section-image {
    max-width: 100%;
  }

  .section-wrap {
    align-items: stretch;
  }

  .space-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .subscription-cards {
    justify-content: center;
    flex-wrap: wrap;
  }

  .subscription-card {
    max-width: 30rem;
    margin: 40px 40px;
  }

  .request-section-form {
    min-width: auto;
    max-width: 80%;
    padding: 20px;
  }
}

@media all and (max-width: 480px) {
  .header-navbar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar-logo {
    margin-bottom: 2rem;
  }

  .promo-title {
    font-size: 2rem;
  }

  .subscription-card {
    margin: 20px auto;
  }

  .card-container {
    margin: 28px 45px 35px 25px;
  }

  .testimonial {
    padding-left: 34px;
    padding-right: 44px;
    padding-bottom: 36px;
  }

  .request-section-title {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

  .input-info {
    max-width: 90%;
  }

  .form-attach-remark {
    padding-right: 1rem;
  }

  .form-attach-button {
    text-align: center;
    flex-grow: 1;
    margin-top: 1.25rem;
  }
}
