body {
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  /* ОТСТУПОВ И УБРАТЬ ХЕИГХТ */
  height: 535px;
  background: url("../images/BG_1.jpg") center / cover no-repeat;
}

.header-navbar {
  display: flex;
  padding-top: 27px;
  justify-content: space-around;
}

.navbar-wrap {
  width: inherit;
  display: flex;
}

.navbar-menu {
  display: flex;
}

.navbar-menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  color: #dbe4f1;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.header-promo {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 590px;
}

.promo-container {
  text-align: center;
  align-items: center;
}

.promo-title {
  margin-bottom: 5px;
  color: white;
  font-weight: 700;
  font-size: 2.875rem; /* делим размер из макета на 16 (размер шрифта по умолчанию) */
  line-height: 1.478; /* делим размер Line-height по макету на размер шрифта по макету */
}

.promo-text {
  margin-right: 11px;
  margin-left: 11px;
  margin-bottom: 27px;
  color: #dbe4f1;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7;
}

.button {
  margin-bottom: 11px;
  background-color: #50e3c2;
  color: #0f3d33;
  padding: 15px 28.5px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button:hover {
  background: #ffffff;
  box-shadow: inset 0 0 0 4px#50e3c2;
}

.button-section:hover {
  box-shadow: inset 0 0 0 4px rgba(56, 180, 152, 0.5);
}

.promo-remark {
  color: #dbe4f1;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 2;
}

.space-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.columns-container {
  display: flex;
  justify-content: space-evenly;
}

.column-icon {
  position: relative;
  margin-left: 8rem; /* WTF????? */
  margin-bottom: 2.7rem;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.06;
}

.small-circle {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle-color-1 {
  background-color: rgba(252, 92, 101, 1);
}

.circle-color-2 {
  background-color: rgba(80, 227, 194, 1);
}

.circle-color-3 {
  background-color: rgba(166, 101, 251, 1);
}

.column-title {
  font-weight: 700;
  font-size: 1.375rem;
  margin-bottom: 24px;
  line-height: 1.545;
}

.column-text {
  line-height: 1.888;
  max-width: 307px; /* ????????????????????????? */
  font-weight: 400;
  color: #323232;
}

.column-text,
.column-title {
  display: block;
  text-align: center;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-section {
  text-align: center;
  background-color: rgba(56, 180, 152, 0.2);
}

.title-section {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1.316;
  color: #000000;
}

.text-section {
  font-weight: 400;
  line-height: 1.777;
  color: #323232;
  margin-bottom: 29px;
}

.bg-secondary {
  background: #f8fbfe;
}

.analytics-images-wrap {
  margin-right: 120px;
}

.section-wrap {
  align-items: flex-start;
  max-width: 436px;
}

.activity-images-wrap {
  margin-left: 60px;
}

.image-section {
  background: url("../images/BG_2.jpg") center / cover no-repeat;
}

.image-container {
  margin: 0 auto;
  align-items: center;
  max-width: 750px;
}

.image-icon {
  cursor: pointer;
  border: none;
  background-color: inherit;
  margin-bottom: 54px;
  transition: all 0.4s ease;
}

.image-icon:hover {
  transform: scale(1.3, 1.3);
}

.play-circle {
  transition: all 0.4s ease;
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.19);
}

.play-circle:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.play-triangle {
  position: absolute;
  left: 43px;
  top: 38px;
  width: 0;
  height: 0;
  border-top: 10px solid;
  border-left: 15px solid;
  border-bottom: 10px solid;
  border-color: transparent transparent transparent rgba(80, 227, 194, 1);
}

.image-title {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1.316;
  color: #ffffff;
  margin-bottom: 22px;
}

.image-text {
  text-align: center;
  font-weight: 400;
  line-height: 1.777;
  color: #ffffff;
}

.plan-to-start-section {
  background: #f8fbfe;
  /*  background: url("../images/BG_3.jpg") top / cover no-repeat;
  background-size: 100% 507px; */
  /*   padding-top: 120px; */
}

.plan-to-start-container {
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
}

.plan-to-start-title {
  margin-bottom: 20px;
}

.plan-to-start-text {
  font-weight: 400;
  line-height: 1.777;
  text-align: center;
  color: #323232;
  margin-bottom: 60px;
}

.plan-to-start-button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.plan-to-start-cards {
  display: flex;
}

.plan-to-start-card {
  position: relative;
  border-radius: 6px;
  background-color: #ffffff;
  /*   height: 515px; */
  width: 350px;
  margin: 40px 15px 85px;
}

.selected-card-line {
  border-radius: 6px;
  background-color: #50e3c2;
  height: 4px;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.card-container {
  align-items: flex-start;
  margin: 28px 65px 35px 45px;
}

.card-type {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 32px;
  text-transform: uppercase;
  color: #878b90;
  margin-bottom: 17px;
}

.card-price {
  font-weight: bold;
  margin-bottom: 5px;
}

.price-dollar {
  vertical-align: top;
  letter-spacing: -1.2px;
  font-size: 1.875rem;
  line-height: 1.7;
}

.price-number {
  letter-spacing: -0.3px;
  font-size: 2.875rem;
  line-height: 1.3;
}

.price-period {
  letter-spacing: -0.3px;
  font-size: 1.0625rem;
  line-height: 1.17;
  letter-spacing: -0.3px;
}

.card-description {
  max-width: 240px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.64;
  color: #323232;
  margin-bottom: 26px;
}

.card-list {
  list-style-image: url(../images/marker.png);
  margin-bottom: 31px;
  padding-left: 25px;
}

.card-list-item {
  font-weight: 400;
  line-height: 1.777;
}

.card-list-item:not(:last-child) {
  margin-bottom: 7px;
}

.basic-card-list-item {
  text-decoration: line-through;
  opacity: 0.5;
}

.card-button {
  margin-bottom: 14px;
}

.card-remark {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 2;
  color: #666666;
}

.customers-text {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  color: #878b90;
  margin-bottom: 40px;
}

.customer-logo {
  margin-left: 25px;
  margin-right: 25px;
}

.customers-logo-wrap {
  text-align: center;
}

.testimonials-section {
  display: flex;
  justify-content: center;
  margin-bottom: 101px;
}

.testimonial {
  padding-left: 46px;
  padding-right: 56px;
  padding-bottom: 48px;
  border: 1px solid #e8e8ea;
}

.testimonial:not(:last-child) {
  border-right: none;
}
.testimonial:first-child {
  border-radius: 10px 0 0 10px;
}
.testimonial:last-child {
  border-radius: 0 10px 10px 0;
}

.testimonial-quotes {
  font-weight: 400;
  font-size: 6.125rem;
  line-height: 1.214;
  color: #dbe4f1;
}

.testimonial-text {
  width: 274px;
  font-weight: 400;
  line-height: 1.777;
  letter-spacing: -0.1px;
  margin-bottom: 40px;
}

.testimonial-author {
  display: flex;
  align-items: center;
}

.testimonial-author-info {
  margin-left: 21px;
  letter-spacing: -0.3px;
  color: #323232;
}

.testimonial-author-name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
}

.testimonial-author-address {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 2;
}

.manage-your-team-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-your-team-section .button {
  margin-bottom: 0;
}

.manage-your-team-title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-right: 61px;
}

.request-section {
  align-items: center;
  background-color: #f8fbfe;
  /*   background: url("../images/BG_3.jpg") bottom / cover no-repeat; */
  /*   background-size: 100% 514px; */
}

.request-section-title {
  margin-bottom: 30px;
}

.request-section-form {
  border: 1px solid #e8e8ea;
  box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 10px;
  padding: 50px;
  background-color: #ffffff;
}

.input-info {
  padding: 15px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 0.875rem;
  color: #323232;
  border: 1px solid #e8e8ea;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  color: #323232;
}
::-moz-placeholder {
  color: #323232;
}
:-moz-placeholder {
  color: #323232;
}
:-ms-input-placeholder {
  color: #323232;
}

.form-attach-remark {
  font-size: 0.875rem;
  letter-spacing: -0.7px;
}

.request-section-form .button {
  width: 100%;
  margin-bottom: 0;
  margin-top: 20px;
}

.form-attach-button {
  margin-left: 90px;
  display: inline-block;
  padding: 9px 12px;
  border: none;
  background: #f2f5f8;
  border-radius: 3px;
  font-size: 0.875rem;
  cursor: pointer;
  letter-spacing: -0.3px;
  color: #323232;
}

.form-attach-button:hover {
  background: #ffffff;
  box-shadow: inset 0 0 0 2px #00000077;
}

.form-attach-button svg {
  vertical-align: bottom;
  display: inline-block;
}

.input-file {
  opacity: 0;
  display: none;
}

.footer-container {
  background: linear-gradient(315.06deg, #152649 5%, #4f525c 100%);
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-columns-wrap {
  display: flex;
  margin-bottom: 86px;
  justify-content: space-evenly;
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-menu-link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.125;
  color: #f8fbfe;
}

.menu-link:hover,
.footer-menu-link:hover,
.footer-policy-link:hover {
  text-shadow: rgb(184, 184, 184) 1px 0 7px;
  color: #ffffff;
  text-decoration: underline;
  transition: all 0.4s ease;
}

.footer-menu-title {
  display: block;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 2.286;
  color: #dbe4f1;
  opacity: 0.7;
}

.footer-info {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  color: #dbe4f1;
  display: flex;
  justify-content: space-evenly;
}

.footer-social-link:not(:last-child),
.footer-policy-link:not(:last-child) {
  margin-right: 19px;
}

.footer-social-link img {
  transition: all 0.4s ease;
}

.footer-social-link img:hover {
  transform: scale(1.2, 1.2);
}

/* TOGGLE BUTTON  START */
:root {
  --switches-bg-color: #f8fbfe;
  --switches-label-color: #0f3d33;
  --switch-bg-color: #50e3c2;
  --switch-text-color: #0f3d33;
}

.switches-container {
  display: flex;
  position: relative;
  width: 250px;
  height: 46px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 3.75;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #0f3d33;
  background: var(--switches-bg-color);
  border: 1px solid #e8e8ea;
  border-radius: 23px;
}

.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.switches-container label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: var(--switches-label-color);
}

.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 48%;
  padding: 0.15rem;
  z-index: 3;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.switch {
  border-radius: 3rem;
  background: var(--switch-bg-color);
  height: 100%;
}

.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: var(--switch-text-color);
  transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

.switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
  transform: translateX(0%);
}

.switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
  transform: translateX(100%);
}

.switches-container
  input:nth-of-type(1):checked
  ~ .switch-wrapper
  .switch
  div:nth-of-type(1) {
  opacity: 1;
}

.switches-container
  input:nth-of-type(2):checked
  ~ .switch-wrapper
  .switch
  div:nth-of-type(2) {
  opacity: 1;
}

/* TOGGLE BUTTON  END */
